
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th, tr {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
#table-title{
    text-align: center;
}
.top-row{
    background-color: rgb(77, 73, 73);
    color: rgb(252, 252, 252);
}
tr:not(.top-row) th{
    background-color:#e0abab;
}
tr.row-2 td:nth-child(even){
    background-color: rgb(118, 186, 118);

}
tr.row-3 td:nth-child(odd){
    background-color: rgb(196, 128, 230);

}
tr.row-7 td:nth-child(odd){
    background-color: rgb(115, 154, 231);

}
tr.row-8 td:nth-child(odd){
    background-color: rgb(212, 195, 108);

}